*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/caches
/.idea/codeStyles
/.idea/markdown-navigator
/.idea/modules.xml
/.idea/workspace.xml
/.idea/gradle.xml
/.idea/markdown-navigator.xml
/.idea/misc.xml
/.idea/vcs.xml
.DS_Store
/build
/captures
.externalNativeBuild
app/build
features/main/build
core/api/build
core/utils/build
core/android-utils/build
jacoco.exec